// Carbon Typographyh
// https://www.carbondesignsystem.com/guidelines/typography/productive

// Header
.bx--header .bx--header__name {
  @include carbon--type-style('productive-heading-04');
  font-size: 1rem;
}

.bx--header__nav {
  display: block;
  position: absolute;
  right: 95px;
}

// Banner
.landing__banner {
  height: 100vh;
  margin-top: 3rem;
  display: flex;

  .landing__openEEW {
    display: flex;
    flex: 0 0 50%;

    p {
      @include carbon--type-style('productive-heading-04');
    }
  }

  .landing__mission {
    display: flex;
    flex: 0 0 50%;

    p {
      @include carbon--type-style('productive-heading-04');
    }
  }
}

// Sensor information section.
.info-section {

    margin-bottom: 10vw;

    .info-text {
        padding-top: 20px;
        border-top: 1px solid white;
        div[class^="bx--col"] {
            margin-top: 10px;
        }
    }

    .sensor-image {
        margin-top: 5vw;
        width: min(450px, 90vw);
    }
}

// Dashboard information section
.dashboard-image {
    margin-top: 5vw;
    width: 100%;
}

